<div class="{{stepOne}}">
  <h1>Twój email:</h1>
  <form class="form" [formGroup]="formEmail" (ngSubmit)="onTokenRequestSubmit()">
    <mat-form-field class="full-width">
      <input type="email" autocomplete="email" matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!formEmail.valid">Wyślij kod resetujący</button>
  </form>
</div>

<div class="{{stepTwo}}">
  <h1>Kod resetujący:</h1>
  <form class="form" [formGroup]="formToken" (ngSubmit)="tokenSubmit()">
    <mat-form-field class="full-width">
      <input type="text" autocomplete="token" matInput placeholder="token" formControlName="token" required>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!formEmail.valid">Dalej</button>
  </form>
</div>

<div class="{{stepThree}}">
  <form class="form" [formGroup]="formPassword" (ngSubmit)="changePassword()">
    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="password" formControlName="password" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="password" formControlName="passwordConfirmation" required>
    </mat-form-field>
    <button mat-raised-button color="primary">Zaloguj się</button>
  </form>
</div>
