<mat-toolbar>
  <span>{{shop.name}}</span><input label="pattern" #pattern (input)="getProductsByPattern(pattern.value)"
                                   matInput="Szukaj"/>
</mat-toolbar>

<div class="sidebar">
  <app-category-item *ngFor="let category of categories" [category]="category"></app-category-item>
</div>
<div class="products">
  <mat-form-field>
    <mat-select [(value)]="productsPerPage" (valueChange)="getProductsByPageSize()" >
      <mat-option value="1">1</mat-option>
      <mat-option value="2" selected="true">2</mat-option>
      <mat-option value="6">6</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let product of products$ | async">
      <mat-card class="product">
        <mat-card-header>
          <mat-card-title>
            <h3>{{product.name}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{product.photo}}"/>
        <mat-card-content>
            <span>
              Cena: {{product.price}} zł</span><br/>
          <span>
          <a href="/product/{{product.id}}">
            <button mat-raised-button color="primary">Więcej szczegółów</button>
          </a>
          &nbsp; &nbsp; &nbsp;
          <button mat-raised-button color="primary" (click)="addToChart(product)">Dodaj do koszyka</button>
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <br>
  <button mat-raised-button color="primary" (click)="prevPage()">Poprzednia strona</button>
  Strona : {{page+1}}/{{pages}}
  <button mat-raised-button color="primary" (click)="nextPage()">Następna strona</button>
</div>
