<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input type="password" autocomplete matInput placeholder="Stare hasło" formControlName="oldPassword" required>
    <mat-error *ngIf="form.get('oldPassword').hasError('required')">Pole wymagane</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="password" autocomplete="new-password" matInput placeholder="Nowe hasło" formControlName="password"
           required>
    <mat-error *ngIf="form.get('password').hasError('required')">Pole wymagane</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="password" autocomplete="new-password" matInput placeholder="Powtórz nowe hasło"
           formControlName="passwordConfirmation" required>
    <mat-error *ngIf="form.get('passwordConfirmation').hasError('matchOther')">Hasła niezgodne</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!form.valid">Zmień hasło</button>
</form>
